koto_arm_template/linkedTemplates/ArmTemplate_1.json
{
    "$schema": "http//schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "koto_datafactory_name"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
      {
            "name": "[concat(parameters('factoryName'), '/koto_haku')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get koto configurations ID",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": "SELECT [id], destination_table_name, [order] FROM [dbo].[koto_config] WHERE active = 0x01\nORDER BY destination_table_name, [order]\n",
                                "queryTimeout": "00:10:00",
                                "isolationLevel": "ReadCommitted",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "koto_SQL_server",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_queries",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get koto configurations ID",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get koto configurations ID').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Execute koto request",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [
                                        {
                                            "activity": "Get koto configuration",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "koto_data_request",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "destination_table_name": {
                                                "value": "@activity('Get koto configuration').output.value[0].destination_table_name",
                                                "type": "Expression"
                                            },
                                            "destination_schema_name": {
                                                "value": "@activity('Get koto configuration').output.value[0].destination_schema_name",
                                                "type": "Expression"
                                            },
                                            "relative_URL": {
                                                "value": "@activity('Get koto configuration').output.value[0].relative_URL",
                                                "type": "Expression"
                                            },
                                            "request_body": {
                                                "value": "@activity('Get koto configuration').output.value[0].request_body",
                                                "type": "Expression"
                                            },
                                            "drop_table": {
                                                "value": "@activity('Get koto configuration').output.value[0].drop_table",
                                                "type": "Expression"
                                            },
                                            "config_id": {
                                                "value": "@item().id",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                {
                                    "name": "Get koto configuration",
                                    "type": "Lookup",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.00:10:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "AzureSqlSource",
                                            "sqlReaderQuery": {
                                                "value": "@concat('SELECT [id] ,[name]  ,[destination_schema_name]  ,[destination_table_name],[drop_table]  ,[relative_URL] ,[request_body] ,[active] ,[free] ,[version] ,[description] FROM [dbo].[koto_config] WHERE id=', item().id)",
                                                "type": "Expression"
                                            },
                                            "queryTimeout": "00:10:00",
                                            "isolationLevel": "ReadCommitted",
                                            "partitionOption": "None"
                                        },
                                        "dataset": {
                                            "referenceName": "koto_SQL_server",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        },
                                        "firstRowOnly": false
                                    }
                                }
                            ]
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "folder": {
                    "name": "KOTO"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-09T07:54:05Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/koto_data_request')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/koto_data_request')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "koto_data_request",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "@{pipeline().parameters.relative_URL}"
                            },
                            {
                                "name": "Destination",
                                "value": "@{pipeline().parameters.destination_schema_name}.@{pipeline().parameters.destination_table_name}"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "POST",
                                    "requestBody": {
                                        "value": "@{pipeline().parameters.request_body}",
                                        "type": "Expression"
                                    },
                                    "requestTimeout": ""
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings",
                                    "skipLineCount": 0
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink",
                                "preCopyScript": {
                                    "value": "@{if(pipeline().parameters.drop_table, \nconcat('DROP TABLE IF EXISTS [', pipeline().parameters.destination_schema_name,'].[', pipeline().parameters.destination_table_name, ']'),'')}",
                                    "type": "Expression"
                                },
                                "tableOption": "autoCreate",
                                "disableMetricsCollection": false
                            },
                            "enableStaging": false,
                            "parallelCopies": 1,
                            "enableSkipIncompatibleRow": false,
                            "dataIntegrationUnits": 2,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "koto_httpsource",
                                "type": "DatasetReference",
                                "parameters": {
                                    "relative_URL": {
                                        "value": "@pipeline().parameters.relative_URL",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "koto_SQL_server_table",
                                "type": "DatasetReference",
                                "parameters": {
                                    "destination_table_name": {
                                        "value": "@pipeline().parameters.destination_table_name",
                                        "type": "Expression"
                                    },
                                    "destination_schema_name": {
                                        "value": "@pipeline().parameters.destination_schema_name",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    },
                    {
                        "name": "Save result failed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "koto_data_request",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_save_koto_loading_log]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@bool(1)",
                                        "type": "Expression"
                                    },
                                    "type": "Boolean"
                                },
                                "message": {
                                    "value": {
                                        "value": "@activity('koto_data_request').Error.Message",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "rowsCopied": {
                                    "value": null,
                                    "type": "Int32"
                                },
                                "rowsRead": {
                                    "value": {
                                        "value": "@activity('koto_data_request').output.rowsRead",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "config_id": {
                                    "value": {
                                        "value": "@pipeline().parameters.config_id",
                                        "type": "Expression"
                                    },
                                    "type": "Int64"
                                },
                                "timestamp": {
                                    "value": {
                                        "value": "@utcnow()",
                                        "type": "Expression"
                                    },
                                    "type": "DateTime"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "koto_tresqldb002tilastot",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Save result pass",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "koto_data_request",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_save_koto_loading_log]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@bool(0)",
                                        "type": "Expression"
                                    },
                                    "type": "Boolean"
                                },
                                "message": {
                                    "value": {
                                        "value": "@string(activity('koto_data_request').output)",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "rowsCopied": {
                                    "value": {
                                        "value": "@activity('koto_data_request').output.rowsCopied",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "rowsRead": {
                                    "value": {
                                        "value": "@activity('koto_data_request').output.rowsRead",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "config_id": {
                                    "value": {
                                        "value": "@pipeline().parameters.config_id",
                                        "type": "Expression"
                                    },
                                    "type": "Int64"
                                },
                                "timestamp": {
                                    "value": {
                                        "value": "@utcnow()",
                                        "type": "Expression"
                                    },
                                    "type": "DateTime"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "koto_tresqldb002tilastot",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Save result failed 2",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Save result failed",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_save_koto_loading_log]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@bool(1)",
                                        "type": "Expression"
                                    },
                                    "type": "Boolean"
                                },
                                "message": {
                                    "value": {
                                        "value": "@activity('koto_data_request').Error.Message",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "rowsCopied": {
                                    "value": null,
                                    "type": "Int32"
                                },
                                "rowsRead": {
                                    "value": null,
                                    "type": "Int32"
                                },
                                "config_id": {
                                    "value": {
                                        "value": "@pipeline().parameters.config_id",
                                        "type": "Expression"
                                    },
                                    "type": "Int64"
                                },
                                "timestamp": {
                                    "value": {
                                        "value": "@utcnow()",
                                        "type": "Expression"
                                    },
                                    "type": "DateTime"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "koto_tresqldb002tilastot",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "destination_table_name": {
                        "type": "string"
                    },
                    "destination_schema_name": {
                        "type": "string"
                    },
                    "relative_URL": {
                        "type": "string"
                    },
                    "request_body": {
                        "type": "string"
                    },
                    "drop_table": {
                        "type": "bool"
                    },
                    "config_id": {
                        "type": "int"
                    }
                },
                "folder": {
                    "name": "KOTO"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-28T21:55:59Z"
            },
            "dependsOn": []
        }
    ]
}